DATABASE_URL=mongodb://127.0.0.1/payload-plugin-template
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Twilio
# TWILIO_ACCOUNT_SID=
# TWILIO_AUTH_TOKEN=
# TWILIO_FROM=

# Telnyx
# TELNYX_API_KEY=
# TELNYX_FROM=
# TELNYX_MESSAGING_PROFILE_ID=

# Plivo
# PLIVO_AUTH_ID=
# PLIVO_AUTH_TOKEN=
# PLIVO_FROM=

# Vonage
# VONAGE_API_KEY=
# VONAGE_API_SECRET=
# VONAGE_FROM=

# AWS SNS
# AWS_REGION=
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# AWS_SNS_SENDER_ID=
